<!doctype html>
<html>
<head>
    <title>Plant Lovers Quarry Forum</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="container">
            <div id="welcomePage" class="jumbotron text-center">
                <h1>Plant Lovers Quarry</h1>
                <img src="images/plantsphoto.png">
                <!-- This gif is not currently available <iframe src="https://giphy.com/embed/xT9DPhySvCRg3nuTqU" width="960" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-plants-pots-xT9DPhySvCRg3nuTqU">via GIPHY</a></p> -->
                <h3>Login or Signup:
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a></h3>
            </div>
        </div>
    </body>
</html>
